---
---
<header class="bg-transparent p-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="text-orange-500 text-xl font-light">
            110-film
        </div>
        <nav class="space-x-4">
            <a href="#" class="text-orange-500 hover:text-orange-300">Home</a>
            <a href="#" class="text-orange-500 hover:text-orange-300">About</a>
        </nav>
    </div>
</header>

